
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'tbrandomizer/style.css' %}">
    <title>TBRandomizer</title>
</head>
<body>
    <div class="header">
        <div class="logo"></div>
    </div>

    <div class="main">
        <p>Welcome ____!</p>
        <p>You have __ books on your TBR shelf.</p>
        <br/>
        <p>When you are ready for your next read, click the button below:</p>
        <button type="button" class="btn btn-primary">Randomize</button>
    </div>

    <div class="footer">
        <p>Copyright&copy; 2020 Brittany Lynch. All Rights Reserved.</p>
    </div>

</body>
</html>